*{
    padding: 0;
    margin: 0;
}
@import url('https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+New:wght@300&display=swap');
nav{
    background-color: #4E9F3D;
    padding-top: 8px;
    padding-bottom: 8px;
    font-family: 'Zen Kaku Gothic New', sans-serif;
    color: azure;
}
main{
    background-color: darkgrey;
    height: 650px;
}
footer{
height: 40px;
background-color:#444444;
font-family: 'Alfa Slab One', cursive;
padding-top: 10px;
text-align: end;
}
footer a{
    text-decoration: none;
    color: aliceblue;
   
    margin-left: 10px;
}